@font-face {
  font-family: 'ronysiswadi';
  src: url('ronysiswadi.ttf') format('truetype'); /* Update with the correct path if needed */
  font-weight: normal;
  font-style: normal;
}
html{
  -webkit-tap-highlight-color: transparent;
  user-select: none;
   overscroll-behavior: none;
    margin: 0;
     padding: 0;
}
body {
  margin: 0;
    padding: 0;
  overflow: hidden;
   touch-action: none
}



#game-container {
 margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;

}

#player {
  width: 20%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.falling-image {
  
}

 #score {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 24px;
      color: white; /* Updated color to white */
      text-shadow: 2px 2px 5px red; /* Added red shadow */
      z-index: 9999;
        font-family: 'ronysiswadi', sans-serif; /* Use the custom font */
        display: none;
    }

    #game-over {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 200%;
      color: white;
      text-shadow: 4px 4px 8px red;
      z-index: 99999;
        font-family: 'ronysiswadi', sans-serif; /* Use the custom font */
    }
#reset-button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border:#430000;
  border-radius: 50%; /* Set border-radius to 50% for a circle */
  margin-top: 20px;
  background: url('https://raw.githubusercontent.com/Benedict0530/RocketGame-Assets/main/cycle%20(7).png') center/cover; /* Replace with the actual image URL */
  /* Additional styles for text color, font size, etc. */
  color: white;
  font-size: 16px;
  animation: spin 2s linear infinite; /* Spinning animation */
  
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}



#player {
  transition: src 0.3s ease-in-out; /* Add a smooth transition effect */
}

 body.transitioning {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
}
